<header class="app-header">
  <div class="header-content">
    <div class="app-logo">
      <a href="/">SportCars</a>
    </div>
    <menu type="toolbar" class="header-options">
      <li class="option-item">
        <button class="app-header-button" (click)="Announcement()">Announce</button>
      </li>
      <li class="option-item">
        <button class="app-header-button">Register</button>
      </li>
      <li class="option-item">
        <button class="app-header-button app-primary-btn">Log in</button>
      </li>
    </menu>
  </div>
</header>