<div role="button" class="app-car-localization {{localizationsIsActive}}" (click)="showLocalizationsSelection()">
  <div class="car-localization-selection">
    <span>Leaving from</span>
    <b class="car-localization-selected">Los Angeles, United States</b>
  </div>
  <div class="car-localization-selection-menu">
    <menu type="context" class="car-localization-selection-menu-content">
      <li class="menu-option" data-toggle="Los Angeles, United States">
        <label>Chicago, United States</label>
      </li>
      <li class="menu-option" data-toggle="Los Angeles, United States">
        <label>Dallas, United States</label>
      </li>
      <li class="menu-option" data-toggle="Los Angeles, United States">
        <label>Houston, United States</label>
      </li>
      <li class="menu-option" data-toggle="Los Angeles, United States">
        <label>Los Angeles, United States</label>
      </li>
      <li class="menu-option" data-toggle="Los Angeles, United States">
        <label>New York, United States</label>
      </li>
      <li class="menu-option" data-toggle="Los Angeles, United States">
        <label>Phoenix, United States</label>
      </li>
      <li class="menu-option" data-toggle="Los Angeles, United States">
        <label>Philadelphia, United States</label>
      </li>
      <li class="menu-option" data-toggle="Los Angeles, United States">
        <label>San Antonio, United States</label>
      </li>
      <li class="menu-option" data-toggle="Los Angeles, United States">
        <label>San Diego, United States</label>
      </li>
      <li class="menu-option" data-toggle="Los Angeles, United States">
        <label>San Francisco, United States</label>
      </li>
      <li class="menu-option" data-toggle="Los Angeles, United States">
        <label>San Jose, United States</label>
      </li>
    </menu>
  </div>
</div>