<div class="app-sidebar">
  <div class="sidebar-content">
    <!-- ================== Filter ================== -->
    <div class="filter-content">
      <div class="filter-title">
        <h3>Filter by</h3>
      </div>
      <!-- ================== Type ================== -->
      <div class="filter-menu-container">
        <div class="filter-menu-title">
          <b>Car type</b>
        </div>
        <menu type="context" class="filter-menu-content">
          <li class="menu-option">
            <input type="checkbox" name="filterCarType" id="miniType" data-type="Mini">
            <label for="miniType">
              <div class="checkbox">
                <i class="fa fa-check"></i>
              </div>
              <div class="menu-option-content">
                <b>Mini</b>
                <span>5</span>
              </div>
            </label>
          </li>
          <li class="menu-option">
            <input type="checkbox" name="filterCarType" id="standardType" data-type="Standard">
            <label for="standardType">
              <div class="checkbox">
                <i class="fa fa-check"></i>
              </div>
              <div class="menu-option-content">
                <b>Standard</b>
                <span>87</span>
              </div>
            </label>
          </li>
          <li class="menu-option">
            <input type="checkbox" name="filterCarType" id="sportType" data-type="Sport" checked>
            <label for="sportType">
              <div class="checkbox">
                <i class="fa fa-check"></i>
              </div>
              <div class="menu-option-content">
                <b>Sport</b>
                <span>48</span>
              </div>
            </label>
          </li>
          <li class="menu-option">
            <input type="checkbox" name="filterCarType" id="compactType" data-type="Compact">
            <label for="compactType">
              <div class="checkbox">
                <i class="fa fa-check"></i>
              </div>
              <div class="menu-option-content">
                <b>Compact</b>
                <span>5</span>
              </div>
            </label>
          </li>
          <li class="menu-option">
            <input type="checkbox" name="filterCarType" id="economyType" data-type="Economy">
            <label for="economyType">
              <div class="checkbox">
                <i class="fa fa-check"></i>
              </div>
              <div class="menu-option-content">
                <b>Economy</b>
                <span>12</span>
              </div>
            </label>
          </li>
          <li class="menu-option">
            <input type="checkbox" name="filterCarType" id="vanType" data-type="Van">
            <label for="vanType">
              <div class="checkbox">
                <i class="fa fa-check"></i>
              </div>
              <div class="menu-option-content">
                <b>Van</b>
                <span>2</span>
              </div>
            </label>
          </li>
          <li class="menu-option">
            <input type="checkbox" name="filterCarType" id="pickupType" data-type="Pickup">
            <label for="pickupType">
              <div class="checkbox">
                <i class="fa fa-check"></i>
              </div>
              <div class="menu-option-content">
                <b>Pickup</b>
                <span>1</span>
              </div>
            </label>
          </li>
          <li class="menu-option">
            <input type="checkbox" name="filterCarType" id="otherType" data-type="Other">
            <label for="otherType">
              <div class="checkbox">
                <i class="fa fa-check"></i>
              </div>
              <div class="menu-option-content">
                <b>Other</b>
                <span>1</span>
              </div>
            </label>
          </li>
        </menu>
      </div>
      <!-- ================== Type ================== -->
      <div class="filter-menu-container">
        <div class="filter-menu-title">
          <b>Capacity</b>
        </div>
        <menu type="context" class="filter-menu-content">
          <li class="menu-option">
            <input type="checkbox" name="filterCarCapacity" id="2-5_passengers" data-type="2-5 passengers" checked>
            <label for="2-5_passengers">
              <div class="checkbox">
                <i class="fa fa-check"></i>
              </div>
              <div class="menu-option-content">
                <b>2-5 passengers</b>
                <span>28</span>
              </div>
            </label>
          </li>
          <li class="menu-option">
            <input type="checkbox" name="filterCarCapacity" id="6-more_passengers" data-type="6 or more passengers">
            <label for="6-more_passengers">
              <div class="checkbox">
                <i class="fa fa-check"></i>
              </div>
              <div class="menu-option-content">
                <b>6 or more passengers</b>
                <span>12</span>
              </div>
            </label>
          </li>
        </menu>
      </div>
      <div class="filter-menu-container">
        <div class="filter-menu-title">
          <b>Daily price</b>
        </div>
        <div class="filter-price-content">
          <div class="filter-price-box">
            <b>min</b>
            <div class="filter-price-box-content">
              <div class="price-moeda">$</div>
              <input type="text" data-price="min">
            </div>
          </div>
          <div class="filter-price-box">
            <b>max</b>
            <div class="filter-price-box-content">
              <div class="price-moeda">$</div>
              <input type="text" data-price="max">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>