<div class="app-main-top-bar">
  <div class="bar-content">
    <!-- =================== Car Localization =================== -->
    <div class="bar-column">
      <topbar-localization></topbar-localization>
    </div>
    <!-- =================== Search =================== -->
    <div class="bar-column">
      <topbar-search></topbar-search>
    </div>
    <!-- =================== Models Selection =================== -->
    <div class="bar-column">
      <topbar-models></topbar-models>
    </div>
  </div>
</div>