<div class="car-models-selection {{modelsIsShow}}" (click)="showModelsSelection()">
  <div class="toggle-car-models-selection">
    <b class="car-models-selection-selected">All brands</b>
    <i class="fa fa-chevron-down"></i>
  </div>
  <div class="car-models-selection-menu">
    <menu type="context" class="car-models-selection-menu-content">
      <li class="menu-option">
        <label>All brands</label>
      </li>
      <li class="menu-option">
        <label>Acura</label>
      </li>
      <li class="menu-option">
        <label>Bentley</label>
      </li>
      <li class="menu-option">
        <label>Chevrolet</label>
      </li>
      <li class="menu-option">
        <label>Ferrari</label>
      </li>
      <li class="menu-option">
        <label>Pagani</label>
      </li>
      <li class="menu-option">
        <label>Koenigsegg</label>
      </li>
      <li class="menu-option">
        <label>Lamborguini</label>
      </li>
      <li class="menu-option">
        <label>Lotos</label>
      </li>
      <li class="menu-option">
        <label>Mclaren</label>
      </li>
      <li class="menu-option">
        <label>Porsche</label>
      </li>
      <li class="menu-option">
        <label>Rolls Royce</label>
      </li>
      <li class="menu-option">
        <label>Toyota</label>
      </li>
    </menu>
  </div>
</div>